* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(49, 47, 47);
}


.header {
    margin-top: 200px;
    color: rgb(224, 171, 48);
    text-align: center;
}

.header2 {
    margin-top: 300px;
    color: antiquewhite;
    text-align: center;
}