* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(228, 147, 147);
}



 /* Nav Bar---------------------------------------------- */
 nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}


.logoimg {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  transition-duration: 0.6s;
}



.logo {
  color: rgb(37, 32, 32);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 20px 0px 20px 20px;
  padding: 1em .7em .6em 1em;
  margin-top: .4em;
  background-color: aliceblue;
}



.logo:hover {
  color: chocolate;
  background-color: antiquewhite;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  
}

img {
  margin-top: 1em;
  width: 3em;
}

img:hover {
  cursor: pointer;
}

.dropdown {
  font-family: 'Varela Round', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-links li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-links a {
  color: rgb(49, 43, 43);
  
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: .5em;
}

.nav-links a:hover {
  color: chocolate;
  background-color: aliceblue;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-radius: 20px 0px 20px 0px;
}


/* --------Icons------------------------------------------- */
.nav-icons {
font-size: 2em;
}

.nav-icons .fa-github {
margin-right: .5em;
}

.fa-github {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-github:hover {
  color: grey;
}

.fa-linkedin:hover {
  color: rgb(41, 120, 151);
}
/* ----------------------------------------------------- */
@media screen and (max-width: 500px) {
.nav-icons .fa-github {
  margin-right: .1em;
}
}

/* ------Media Queries for the nav bar------------- */




/* --------Main Content------------------------ */
.info {
  font-size: 1.4em;
  margin-top: 2em;
  margin-left: 20vw;
  margin-right: 20em;
  line-height: 40px;
}

.icons {
  margin-top: 1em;
  font-size: 2.5em;
}

.icons .fa-github {
  margin-right: 2em;
}

/* ---Media Queries for content------------------------------------ */
@media screen and (max-width: 1000px) {
.info {
  font-size: 1.7vw;
  margin-right: 2em;
  margin-left: 4em;
}
}

@media screen and (max-width: 800px) {
.info {
  font-size: 3vw;
  margin-right: 3em;
}
}
/* -----------------------------------------------------------------------


/* ----------------------hero section------------------------------------------ */
.hero-section {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10vw;
}




.hero-image {
  margin-top: 2em;
  background-color: rgb(31, 27, 5);   
  height: 60vh;
  width: 80vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 30px;
}


.hero-text {
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 245, 245);
}

.hero-text p {
    font-size: .8em;
    color: rgb(240, 222, 222);
}

button {
  margin-top: 2em;
  background-color: rgb(216, 124, 3);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
}

button:hover {
  cursor: pointer;
  background-color: rgb(218, 153, 34);
  border-radius: 40px;
}

button:focus {
  background-color: rgb(185, 131, 29);
}

button a{
  text-decoration: none;
  color: white;
}


/* ----------Media Queries for the hero section */

@media screen and (max-width: 800px) {
  .hero-text {
    font-size: x-large;
  }

  button {
    font-size: small;
  }

  .hero-section {
    position: unset;
    left: 0vw;
  }

  .hero-image {
    width: 100vw;
    border-radius: 0px;
  }
}



