* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(255, 255, 255);
}



/* Nav Bar---------------------------------------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(172, 23, 23, 0.747);
}


.logoimg {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  transition-duration: 0.6s;
}

.logoimg:hover {
  cursor: pointer;
  transform: translateY(3px);
  width: 80px;
  height: 80px;
}


.logo {
  display: flex;
  flex-direction: row;
  color: rgb(228, 222, 222);
  letter-spacing: 5px;
  font-size: 22px;
}




.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav-links li {
  list-style: none;
}

a {
  color: rgb(228, 222, 222);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}




.serv {
  transition-duration: 0.2s;
}

.ab {
  transition-duration: 0.4s;
}

.faq {
  transition-duration: 0.3s;
}


.serv:hover{
  transform: translateY(-0.3em);
}

.ab:hover {
  transform: scale(1.5);
}

.faq:hover {
  transform: rotate(12deg);
}
/* ----------------------------------------------------- */






/* Media queries----------------------------------------*/

@media screen and (max-width: 1024px) {
  .nav-links {
      width: 40%;
  }
}


@media screen and (max-width:768px) {
  body {
      overflow-x: hidden;
  }

  .logoimg:hover {
    transform: translateY(0px);
    width: 70px;
    height: 70px;
  }

  .logo {
    font-size: 15px;
  }

  a {
    margin-left: 10vw;
  }



  .nav-links {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    background-color: rgb(201, 93, 93);
    width: 30%;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    justify-content: center;
    padding-bottom: 20em;
    
    
  }


 
  
  .ab {
    padding-top: 2em;
  }
  
  .faq {
    padding-top: 2em;
  }

.serv:hover{
  transform: translateY(0em);
}

.ab:hover {
  transform: scale(1);
}

.faq:hover {
  transform: rotate(0deg);
}



  .hamburgerMenu {
    right: 0;
    padding: 1em;
    position: relative;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
  }


  .hamburgerMenu div {
    width: 25px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #fff;
    transition-duration: 0.4s
  }

}


@media screen and (max-width: 500px) {
.logo {
  font-size: 16px;
}
}


@media screen and (max-width: 400px) {

  a {
    margin-left: 3vw;
  }

  .logo {
    font-size: 13px;
  }

}
/* ----------------------------------------------------- */



/* Hamburger Menu--------------------------------------- */
.active {
  transform: translateX(-100%)
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -6px);
}
/* ----------------------------------------------------- */










/* Hero Section---------------------------------------- */
/* main {
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
}





/* ----------------------------------------------------- */

/* Second varient of hero section----------------------- */

main {
  display: flex;
  overflow: hidden;
}

#word1 {
 
  font-size: 5em;
  -webkit-animation: mainText 1.3s ease;
  
}

@keyframes mainText {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(10vh);
  }
} 



#ui {
  -webkit-animation: textAppear 2s ease;
  font-size: 3em;
}

#ui2 {
  -webkit-animation: textEnter 3s ease;
  
  font-size: 4em;
}

@keyframes textAppear {
  0% {
    transform: translateY(-100vh);
    transform: translateX(200vh);
  }
  50% {
    transform: translateY(20vh);
  }
}

@keyframes textEnter {
  0% {
    transform: translateX(100vh);
  }
  50% {
    transform: translateX(-10vh);
  }
}








/* Media Queries for the main name and title */


@media screen and (max-width: 1800px) {
  #word1 {
    padding-right: 12vw;
    font-size: 6vw;
  }

    .desg {
      padding-right: 2vw;
      font-size: 1vw;
    }
}

@media screen and (max-width: 1105px) {
  #word1 {
    padding-right: 12vw;
    font-size: 5vw;
  }

    .desg {
      padding-right: 4vw;
      font-size: 2vw;
    }
}

@media screen and (max-width: 800px) {
  #word1 {
    padding-right: 12vw;
    font-size: 6vw;
  }

    .desg {
      padding-right: 2vw;
      font-size: 1vw;
    }
}

@media screen and (max-width: 768px) {
  #word1 {
    padding-right: 12vw;
    font-size: 6vw;
  }

    .desg {
      padding-right: 2vw;
      font-size: 1vw;
    }
}

@media screen and (max-width: 600px) {


    .desg {
      margin-right: 20px;
      font-size: 2vw;
    }

    #word1 {
      margin-right: 40px;
      font-size: 10vw;
      
    }
}

@media screen and (max-width: 400px) {
    #word1 {
      font-size: 11vw;
    }

    .desg {
      padding-right: 3vw;
    }
}
/* ----------------------------------------------------- */










/* SVG Hero Image--------------------------------------- */



#speech-bubble1 {
  -webkit-animation: speech 1.8s ease;
}

#speech-bubble2 {
  -webkit-animation: speech2 2.5s ease;
}

#speech-bubble3 {
  
  -webkit-animation: speech3 3s ease;
}

@keyframes speech {
  from {
    transform: translateX(-100vw);
  }
}

@keyframes speech2 {
  from {
    transform: translateX(200vw);
  }
}

@keyframes speech3 {
  from {
    opacity: 0;
    transform: translateX(-300vw);
  }
  to {
    opacity: 1;
  }
}

 #head {
   -webkit-animation: bob .8s infinite;
   -webkit-animation-delay: 3s;
 }

@keyframes bob {
  0% {
    transform: translateY(0vh);
  }
  30% {
    transform: translateY(.6vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

#sun-gradient {
  -webkit-animation: sun 1s infinite ease-in;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes sun {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#front-left-leaf {
  -webkit-animation: leas 2s infinite ease;
  transform-box: fill-box;
}

#front-right-leaf {
  -webkit-animation: leas2 2s infinite ease-in;
  transform-box: fill-box;
}

#back-right-leaf {
  -webkit-animation: leas2 2s infinite ease-out;
  transform-box: fill-box;
}

#back-left-leaf {
  -webkit--webkit-animation: leas2 2s infinite ease-in;
  transform-box: fill-box;
}


@keyframes leas {
  0% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes leas2 {
  0% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}


/* Media Queries for the svg */

@media screen and (max-width: 600px) {
  svg {
    position: absolute;
    width: 90vw;
    z-index: -1;
  }
}

@media screen and (max-width: 400px) {
  svg {
    position: absolute;
    width: 100vw;
    padding-bottom: 20vh;
    padding-left: 3vw;
    z-index: -1;
  }
}

/* ----------------------------------------------------- */