* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  html {
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(67, 82, 121);
  }
  
  
  
 /* Nav Bar---------------------------------------------- */
 nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}


.logoimg {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  transition-duration: 0.6s;
}



.logo {
  color: rgb(37, 32, 32);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  padding: 1em .7em .6em 1em;
  margin-top: .4em;
  background-color: aliceblue;
}



.logo:hover {
  color: chocolate;
  background-color: antiquewhite;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  
}

img {
  margin-top: 1em;
  width: 3em;
}

img:hover {
  cursor: pointer;
}

.dropdown {
  font-family: 'Varela Round', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  right: 2.3em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 15px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-links li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-links a {
  color: white;
  
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: .5em;
}

.nav-links a:hover {
  color: rgb(3, 216, 205);
}




/* --------Media query for the nav to switch between desktop and mobile */

@media screen and (min-width: 1000px) {
  .nav2 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .nav1 {
    display: none;
  }
}

/* --------Icons------------------------------------------- */
.nav-icons {
  font-size: 2em;
  }
  
  .nav-icons .fa-github {
  margin-right: .5em;
  }

  .fa-github {
    color: black;
  }
  
  .fa-linkedin {
    color: black;
  }
  
  .fa-github:hover {
    color: grey;
    cursor: pointer;
  }
  
  .fa-linkedin:hover {
    color: rgb(41, 120, 151);
    cursor: pointer;
  }
/* ----------------------------------------------------- */
@media screen and (max-width: 500px) {
  .nav-icons .fa-github {
    margin-right: .1em;
  }
}
  
/* ------Media Queries for the nav bar------------- */




  /* --------Main Content------------------------ */
  .info {
    font-size: 1.4em;
    margin: 7em 20vw 0em 20em;
    line-height: 40px;
    color: rgb(247, 243, 243);
  }

  .icons {
    margin-top: 1em;
    font-size: 2.5em;
  }

  .icons .fa-github {
    margin-right: 2em;
  }

  /* ---Media Queries for content------------------------------------ */
@media screen and (max-width: 1000px) {
  .info {
    font-size: 1.7vw;
    margin-right: 2em;
    margin-left: 4em;
  }
}

@media screen and (max-width: 800px) {
  .info {
    font-size: 5vw;
    margin-right: 3em;
  }
}
/* -----------------------------------------------------------------------