* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(172, 23, 23, 0.747);
}


.logoimg {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  transition-duration: 0.6s;
}

.logoimg:hover {
  cursor: pointer;
  transform: translateY(3px);
  width: 80px;
  height: 80px;
}


.logo {
  display: flex;
  flex-direction: row;
  color: rgb(228, 222, 222);
  letter-spacing: 5px;
  font-size: 22px;
}




.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav-links li {
  list-style: none;
}

a {
  color: rgb(228, 222, 222);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}




.serv {
  transition-duration: 0.2s;
}

.ab {
  border: solid black 2px;
  border-radius: 1em;
  width: 23%;
  text-align: center;
  transition-duration: 0.4s;
}

.faq {
  transition-duration: 0.3s;
}


.serv:hover{
  transform: translateY(-0.3em);
}

.ab:hover {
  transform: scale(1.5);
}

.faq:hover {
  transform: rotate(12deg);
}









@media screen and (max-width: 1024px) {
  .nav-links {
      width: 40%;
  }
}


@media screen and (max-width:768px) {
  body {
      overflow-x: hidden;
  }

  .logoimg:hover {
    transform: translateY(0px);
    width: 70px;
    height: 70px;
  }

  .logo {
    font-size: 15px;
  }

  a {
    margin-left: 10vw;
  }



  .nav-links {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    background-color: rgb(201, 93, 93);
    width: 30%;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    justify-content: center;
    padding-bottom: 20em;
  }




  .serv {
    padding-bottom: 2em;
  }
  
  .ab {
    border: solid black 2px;
    border-radius: 1em;
    width: 100%;
    text-align: justify;
  }
  
  .faq {
    padding-top: 2em;
  }

  
  


.serv:hover{
  transform: translateY(0em);
}

.ab:hover {
  transform: scale(1);
}

.faq:hover {
  transform: rotate(0deg);
}



  .hamburgerMenu {
    right: 0;
    padding: 1em;
    position: fixed;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
  }


  .hamburgerMenu div {
    width: 25px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #fff;
    transition-duration: 0.4s
  }

}


@media screen and (max-width: 500px) {
  .logo {
    font-size: 16px;
  }
  }
  
  
  @media screen and (max-width: 400px) {
  
    a {
      margin-left: 3vw;
    }
  
    .logo {
      font-size: 13px;
    }
  
  }




.active {
  transform: translateX(-100%)
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

/* Main Content----------------------------------------- */
.LI-profile-badge {

}
/* ----------------------------------------------------- */



/* Footer-------------------------------------------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(173, 65, 65);
  height: 7em;
}

.Copyright {
  grid-column: 1 / 5;
  grid-row: 3 / 3;
  margin-left: 1em;
  font-size: 12px;
  color: white;
}