* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(228, 147, 147);
}



/* Nav Bar---------------------------------------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}


.logoimg {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  transition-duration: 0.6s;
}



.logo {
  color: rgb(37, 32, 32);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 20px 0px 20px 20px;
  padding: 1em .7em .6em 1em;
  margin-top: .4em;
  background-color: aliceblue;
}



.logo:hover {
  color: chocolate;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav-links li {
  list-style: none;
}

nav a {
  color: rgb(49, 43, 43);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  color: white;
}
/* ----------------------------------------------------- */


/* ------Media Queries for the nav bar------------- */

@media screen and (max-width: 700px) {
  nav a {
    margin-left: 1.2em;
    font-size: small;
  }

  .nav-links {
    margin-right: 2em;
  }

  nav {
    justify-content: start;
  }

  .logo {
    margin-right: 3em;
  }

}


/* Main Content----------------------------------------- */
main {
    display: flex; 
}

svg {
  margin-top: 20px;
  width: 45vw;
}


/* Media queries for the svg---------------------------- */



@media screen and (max-width: 1000px) {
 svg {
   width: 90vw;
   margin-left: 3vw;
 }
}


@media screen and (max-width: 800px) {

}

/* ----------------------------------------------------- */



/* Footer-------------------------------------------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: rgb(173, 65, 65);
  height: 7em;
}

.Copyright {
  grid-column: 1 / 5;
  grid-row: 3 / 3;
  margin-left: 1em;
  font-size: 12px;
  color: white;
}