* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(67, 82, 121);
}



 /* Nav Bar---------------------------------------------- */
 nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}


.logoimg {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  transition-duration: 0.6s;
}



.logo {
  color: rgb(37, 32, 32);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  padding: 1em .7em .6em 1em;
  margin-top: .4em;
  background-color: aliceblue;
}



.logo:hover {
  color: chocolate;
  background-color: antiquewhite;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  
}

img {
  margin-top: 1em;
  width: 3em;
}

img:hover {
  cursor: pointer;
}

.dropdown {
  font-family: 'Varela Round', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  right: 2.3em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 15px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-links li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-links a {
  color: white;
  
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: .5em;
}

.nav-links a:hover {
  color: rgb(3, 216, 205);
}




/* --------Media query for the nav to switch between desktop and mobile */

@media screen and (min-width: 1000px) {
  .nav2 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .nav1 {
    display: none;
  }
}


/* --------Icons------------------------------------------- */
.nav-icons {
font-size: 2em;
}

.nav-icons .fa-github {
margin-right: 1em;
}

.fa-github {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-github:hover {
  color: grey;
}

.fa-linkedin:hover {
  color: rgb(41, 120, 151);
}


/* ----Media Query for the nav------------------------------------------------- */
@media screen and (max-width: 500px) {
.nav-icons .fa-github {
  margin-right: .1em;
}
}






/* --------Main Content------------------------ */

/* Title for the skills section */
.skill-section {
  margin-top: 2em;
  text-align: center;
}

.skill-section p {
  font-size: 2em;
  margin-top: 6em;
  color: rgb(247, 243, 243);
}

/* Skills Icons */

.skills {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
  font-size: 10em;
}



.skills i {
  margin: .5rem;
  display: block;
  font-size: 7em;
}
/* -------------------------------------------------------------------------------------- */


/* --------Funny hover shit--------------------------- */
.fa-html5:hover {
  color: rgb(235, 74, 25)
}

.fa-css3-alt:hover{
  color: rgb(36, 149, 224);
}

.fa-js-square:hover{
  color: yellow;
}

.fa-adobe:hover {
  color: rgb(209, 20, 20);
}

.fa-vuejs:hover {
  color: lightgreen;
}

.fa-sass:hover {
  color: rgb(211, 67, 91);
}

.fa-node:hover {
  color: rgb(89, 194, 89);
}

.fa-figma:hover {
  color: rgb(184, 38, 184);
}

.fa-wordpress:hover {
  color: rgb(95, 136, 199);
}


/* --------About Blurb----------------- */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.profile {
  width: 20em;
  border-radius: 40px;
  margin-bottom: 1em;
}

.profile:hover {
  cursor: default;
}

.info {
  font-size: 1.4em;
  margin: 2em;
  text-align: center;
  line-height: 24px;
 
  color: rgb(247, 243, 243);
}

/* Title for page */
h2 {
  margin-bottom: 1em;
  text-align: center;
}

p {
  margin-bottom: 1.2em;
}

.icons {
  margin-top: 1em;
  font-size: 2.5em;
}

.icons .fa-github {
  margin-right: 2em;
}





/* --------Button Code------------- */
button {
  width: 100vw;
  background-color: rgb(3, 216, 205);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
}

button:hover {
  cursor: pointer;
  background-color: rgb(17, 158, 151);
}




/* ---Media Queries for content------------------------------------ */
@media screen and (max-width: 1000px) {
  .info {
    font-size: 1.7vw;
    margin-right: 2em;
    margin-left: 3em;
  }
  .fa-css3-alt:hover, .fa-adobe:hover, .fa-html5:hover, .fa-figma:hover {
    color: black;
  }
}

@media screen and (max-width: 800px) {
  .info {
    font-size: 3.6vw;
    margin-right: 2.5em;
  }
  .skills i {
    font-size: 5em;
  }

  .profile {
    width: 13em;
  }
  
}
/* ---------------------------------------------------------------------------------------- */








/* Footer-------------------------------------------- */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  bottom: 0;
  width: 100vw;
  background-color: rgb(79, 93, 139);
  height: 7em;
}

.Copyright {
  margin-top: 3em;
  font-size: 12px;
  color: white;
}